header strong{
    font-size: 12px;
    color:  blue;
}
.alert{
    margin: 10px auto 0;
    height: 50px;
}
.alert-danger
{
    width: 70%;
}
.alert-success
{
    width: 200px;
}
.close-button{
    margin-top: -10px;
}
.jumbotron{
    width: 80%;
    margin: 20px auto 0;
}
.center{
    text-align: center;
}
.cell{
    font-size:12px;
    height:20px;
    min-width:20px;
    width:20px;
    display: table-cell;
    border: 1px solid black;
}
.cell-dead{
    background-color:#6087FF;
    cursor:pointer;
}
.cell-dead:hover{
    background-color:#00F;
}
.cell-live{
    background-color:#6FFF84;
    cursor:pointer;
}
.cell-live:hover{
    background-color:#006600;
}
.cell-dead-disable{
    background-color:#6087FF;
    cursor:not-allowed;
}
.cell-live-disable{
    background-color:#6FFF84;
    cursor:not-allowed;
}
.div-value{
    margin: 20px 0 20px 0;
    display: block;
}
.div-value label{
    font-size: 12px;
    width: 220px;
    text-align: right;
}
.div-value input{
    width: 80px !important;
}
.div-button button{
    width: 135px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 13px;
}
.div-game-panel{
    display: table;
    border-collapse:collapse;
    margin: 0 auto;
}
.div-game-row{
    display:table-row;
}


